<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>wrapper.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.backoffice_template</param-name>
        <param-value>wrapper2.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.backoffice_directory</param-name>
        <param-value>backoffice</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.author</param-name>
        <param-value>TDL</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.homepage_url</param-name>
        <param-value>homepage</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>ISO-8859-1</param-value>
    </context-param>
    <context-param>
        <param-name>view.error_template</param-name>
        <param-value>error.ftl.html</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>ListaSkill</servlet-name>
        <servlet-class>iw.socialdevelop.controller.ListaSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaProgetti</servlet-name>
        <servlet-class>iw.socialdevelop.controller.ListaProgetti</servlet-class>
    </servlet>
  
    <servlet>
        <servlet-name>AddSkillUtente</servlet-name>
        <servlet-class>iw.socialdevelop.controller.AddSkillUtente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSkillUtente</servlet-name>
        <url-pattern>/addskillutente</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TerminiDelServizio</servlet-name>
        <servlet-class>iw.socialdevelop.controller.TerminiDelServizio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TerminiDelServizio</servlet-name>
        <url-pattern>/terminidelservizio</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Pannello</servlet-name>
        <servlet-class>iw.socialdevelop.controller.Pannello</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pannello</servlet-name>
        <url-pattern>/pannello</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreaProposta</servlet-name>
        <servlet-class>iw.socialdevelop.controller.CreaProposta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreaProposta</servlet-name>
        <url-pattern>/creaproposta</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CercaSviluppatori</servlet-name>
        <servlet-class>iw.socialdevelop.controller.CercaSviluppatori</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CercaSviluppatori</servlet-name>
        <url-pattern>/cercasviluppatori</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Profilo</servlet-name>
        <servlet-class>iw.socialdevelop.controller.Profilo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profilo</servlet-name>
        <url-pattern>/profilo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EliminaSviluppatore</servlet-name>
        <servlet-class>iw.socialdevelop.controller.EliminaSviluppatore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaSviluppatore</servlet-name>
        <url-pattern>/eliminasviluppatore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaProgetti</servlet-name>
        <url-pattern>/progetti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaSkill</servlet-name>
        <url-pattern>/listaskill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TaskDettaglio</servlet-name>
        <servlet-class>iw.socialdevelop.controller.TaskDettaglio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaskDettaglio</servlet-name>
        <url-pattern>/task</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProgettoDettaglio</servlet-name>
        <servlet-class>iw.socialdevelop.controller.ProgettoDettaglio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProgettoDettaglio</servlet-name>
        <url-pattern>/progetto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>iw.socialdevelop.controller.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>iw.socialdevelop.controller.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>newprogetto</servlet-name>
        <servlet-class>iw.socialdevelop.controller.NewProgetto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newtask</servlet-name>
        <servlet-class>iw.socialdevelop.controller.NewTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newskill</servlet-name>
        <servlet-class>iw.socialdevelop.controller.NewSkill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newtask</servlet-name>
        <url-pattern>/newtask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newprogetto</servlet-name>
        <url-pattern>/newprogetto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registrati</servlet-name>
        <servlet-class>iw.socialdevelop.controller.registrati</servlet-class>
        <multipart-config>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrati</servlet-name>
        <url-pattern>/registrati</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>iw.socialdevelop.controller.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddTipo</servlet-name>
        <servlet-class>iw.socialdevelop.controller.backoffice.AddTipo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTipo</servlet-name>
        <url-pattern>/addtipo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddSkill</servlet-name>
        <servlet-class>iw.socialdevelop.controller.backoffice.AddSkill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSkill</servlet-name>
        <url-pattern>/addskill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddAmministratore</servlet-name>
        <servlet-class>iw.socialdevelop.controller.backoffice.AddAmministratore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAmministratore</servlet-name>
        <url-pattern>/addamministratore</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MostraSkill</servlet-name>
        <servlet-class>iw.socialdevelop.controller.backoffice.MostraSkill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MostraSkill</servlet-name>
        <url-pattern>/mostraskill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MostraTipo</servlet-name>
        <servlet-class>iw.socialdevelop.controller.backoffice.MostraTipo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MostraTipo</servlet-name>
        <url-pattern>/mostratipo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EliminaTipo</servlet-name>
        <servlet-class>iw.socialdevelop.controller.backoffice.EliminaTipo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaTipo</servlet-name>
        <url-pattern>/eliminatipo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EliminaSkill</servlet-name>
        <servlet-class>iw.socialdevelop.controller.backoffice.EliminaSkill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminaSkill</servlet-name>
        <url-pattern>/eliminaskill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AggiornaSkill</servlet-name>
        <servlet-class>iw.socialdevelop.controller.backoffice.AggiornaSkill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AggiornaSkill</servlet-name>
        <url-pattern>/aggiornaskill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AggiornaTipo</servlet-name>
        <servlet-class>iw.socialdevelop.controller.backoffice.AggiornaTipo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AggiornaTipo</servlet-name>
        <url-pattern>/aggiornatipo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AggiornaSkill2</servlet-name>
        <servlet-class>iw.socialdevelop.controller.backoffice.AggiornaSkill2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AggiornaSkill2</servlet-name>
        <url-pattern>/aggiornaskill2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AggiornaTipo2</servlet-name>
        <servlet-class>iw.socialdevelop.controller.backoffice.AggiornaTipo2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AggiornaTipo2</servlet-name>
        <url-pattern>/aggiornatipo2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>iw.socialdevelop.controller.backoffice.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModificaProgetto</servlet-name>
        <servlet-class>iw.socialdevelop.controller.ModificaProgetto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaProgetto</servlet-name>
        <url-pattern>/modificaprogetto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModificaTask</servlet-name>
        <servlet-class>iw.socialdevelop.controller.ModificaTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaTask</servlet-name>
        <url-pattern>/modificatask</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownloadCurriculum</servlet-name>
        <servlet-class>iw.socialdevelop.controller.DownloadCurriculum</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadCurriculum</servlet-name>
        <url-pattern>/downloadcurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newskill</servlet-name>
        <url-pattern>/newskill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AggiungiValutazione</servlet-name>
        <servlet-class>iw.socialdevelop.controller.AggiungiValutazione</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AggiungiValutazione</servlet-name>
        <url-pattern>/aggiungivalutazione</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>RecuperoPassword</servlet-name>
        <servlet-class>iw.socialdevelop.controller.RecuperoPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecuperoPassword</servlet-name>
        <url-pattern>/recuperopassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>progetti</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/SocialDevelop</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <context-param>
        <param-name>uploads.directory</param-name>
        <param-value>/Users/Luca/Desktop/Uploads</param-value>
    </context-param>
</web-app>
